@use "@angular/material" as mat;

$primary: (
  50: #fee1ea,
  100: #feb3cb,
  200: #fd80a8,
  300: #fc4d85,
  400: #fb276a,
  500: #fa0150,
  600: #f90149,
  700: #f90140,
  800: #f80137,
  900: #f60027,
  A100: #ffffff,
  A200: #ffeaec,
  A400: #ffb7be,
  A700: #ff9da7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent: (
  50: #f5f6f7,
  100: #e6e9eb,
  200: #d6dade,
  300: #c5cbd1,
  400: #b8c0c7,
  500: #acb5bd,
  600: #a5aeb7,
  700: #9ba5ae,
  800: #929da6,
  900: #828d98,
  A100: #ffffff,
  A200: #f4f9fe,
  A400: #c0e0ff,
  A700: #a7d3ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn: mat.$red-palette;
